<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>

	<!-- 配置Mybatis的相关配置 -->
    
	


	<!-- 分页插件 -->
	<plugins>
		<plugin
			interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">
		</plugin>
	</plugins>

	<!-- 映射文件 -->
	<mappers>
	    <mapper resource="com/mapper/componentMapper.xml"/>
	</mappers>
	
</configuration>


